@mixin before-circle {
    &:before {
        content: '';
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: $main-color;
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}