@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    // width: 1140px; // либо оставить просто width, но в адаптации к каждому промежутку задавать свой max-width. а для 576     // .container {
    //     width: 100%;
    //     padding: 0 15px;
    // }
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_title.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_sidepanel.scss';
@import 'blocks/_menu.scss';
@import 'blocks/_about-me.scss';
@import 'blocks/_experience.scss';
@import 'blocks/_subheader.scss';
@import 'blocks/_skills.scss';
@import 'blocks/_works.scss';
@import 'blocks/_contacts.scss';
@import 'blocks/_modal.scss';

@import 'blocks/_media.scss';