
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        padding-left: 70px;
     }
    .sidepanel {
        left: 25px;
    }
    .about-me {
        padding-left: 70px;
        padding-top: 90px;
        .grid-container {
            grid-template: minmax(245px,auto) minmax(255px,auto) / 400px 480px;
            column-gap: 25px;
        }
        .subgrid-container {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 230px);
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 170px;
                column-gap: 14px;
            }
        }
    
    }
    .experience {   
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(2, 370px);
            column-gap: 80px;
        }
    }
    .skills {
        padding-top: 90px;
        padding-left: 70px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
            column-gap: 0;
        }
        &__rating {
            padding-right: 10px;
            padding-left: 10px;
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: space-between;
            column-gap: 0;

        }
    }
    .subheader {
        padding-top: 90px;
        &__title {
            margin: 18px 0;
        }
        &__subtitle {
            &_about-me {
                padding-left: 8px;
            }
            &_experience {
                &:before {
                    transform: translateX(-75%);
                }
            }
            &_skills {
                &:before {
                    transform: translateX(-84%);
                }
            }
            &_works {
                &:before {
                    left: 45%;
                    transform: translateX(-66%);
                }
            }
        }
    }
    .works {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: end;
        }

    }
    .contacts {
        padding-top: 90px;
        &__wrapper {
            padding-right: 0;
            padding-left: 60px;
            grid-template-columns: 320px 524px;
        }
        &__form {
            grid-template-columns: 250px 250px;            
            row-gap: 22px;
        }
        &__triggers {
            column-gap: 17px;
        }
        &__btn {
            width: 230px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        padding-left: 10px;
    }
    .sidepanel {
        display: none;
    }
    .subheader {
        &__title {            
            &_about-me {
                margin: 10px 0;
                font-size: 26px;
                line-height: 45px;
            }
            &_contacts {
                margin: 10px 0;
                font-size: 30px;
                line-height: 45px;
            }
        }
        &__subtitle {
            &_about-me {
                padding-left: 3px;
            }
            &_promo {
                padding-left: 3px;
            }
            &_experience {
                &::before {
                    left: 46%;
                }
            }
            &_skills {
                &:before {
                    left: 45%;
                }
            }
            &_works {
                &:before {
                    left: 43%;
                    transform: translateX(-58%);
                }
            }
        }
    }    
    .about-me {
        padding-top: 70px;
        padding-left: 10px;
        .grid-container {
            grid-template-columns: 350px auto;
            column-gap: 25px;
            #grid-photo {
                img {
                    object-position: left;
                }
            }
        }
        .subgrid-container {
            grid-template-columns: 220px;
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 8px;
            }
        }
    }
    .experience {   
        padding-top: 70px;
        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(2, 335px);
            column-gap: 35px;
        }
    }
    .skills {
        padding-left: 10px;
        padding-top: 70px;
        &__rating {
            padding-top: 70px;
            grid-template-columns: repeat(auto-fit, 320px);
            row-gap: 50px;
            &-line {
                width: 100%;
            }
            &-item {
                grid-template-rows: 21px 20px;
            }
        }
    }
    .works {
        padding-top: 70px;
        &__wrapper {
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
            justify-content: space-evenly;
            gap: 50px
        }

    }
    .contacts {
        padding-top: 70px;
        padding-bottom: 70px;
        &__wrapper {
            padding-left: 20px;
            grid-template-columns: 320px auto;
            column-gap: 30px;
                
        }
        &__form {            
            grid-template-columns: 1fr;
            grid-template-rows: 40px 40px 120px minmax(40px,auto); 
            row-gap: 28px;  
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: auto;
            grid-template-rows: 20px 40px;
            row-gap: 12px;   
            column-gap: 0;   
        }
        &__text, &__social {
            margin-top: 15px;
            
        }
        &__policy {
            grid-row: 1;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 300px;
            font-size: 28px;
            line-height: 39px;
        }
    }
    .subheader {
        &__title {
            margin: 15px 0;
        }
        &__subtitle {
            &_promo {
                font-size: 17px;
            }
            &_about-me {
                padding-left: 9px;
            }
            &_experience {
                &::before {
                    transform: translateX(-96%);
                }
            }
            &_skills {
                &:before {
                    left: 43%;
                }
            }
            &_works {
                &::before {                    
                    left: 41%;
                    transform: translateX(-63%);
                }
            }
        }
    }
    .about-me {
        padding-top: 40px;
        .grid-container {
            grid-template: 450px auto auto / 1fr;
            row-gap: 30px;
            #grid-photo {
                grid-row: unset;
                img {
                    object-position: bottom;
                }
            }
        }
        .subgrid-container {
            grid-template-columns: repeat(2, 260px);
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 14px;
            }
        }
    }
    .experience {   
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            padding-top: 40px;
            padding-left: 65px;
            grid-template-columns: 460px;
            row-gap: 20px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            padding-top: 40px;
        }
        &__rating {
            padding-top: 40px;
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
        }
    }
    .works {
        padding-top: 40px;
        &__wrapper {
            padding-top: 40px;
            gap: 15px;
        }

    }
    .contacts {
        padding-top: 40px;
        padding-bottom: 40px;
        &__wrapper {            
            grid-template: 1fr / 1fr;
            row-gap: 30px;
            padding-left: 100px;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template-columns: 350px;
            row-gap: 20px;
        }
        &__btn {
            margin: 0 auto;
        }
        &__policy {
            margin: 0 auto;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        padding-top: 200px;
        &__title {
            width: 240px;
            margin-top: 10px;
            font-size: 25px;
            line-height: 35px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;        
        }
        &__link {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }
    .about-me {
        padding-left: 0;
        .grid-container {
            grid-template: 370px auto auto / 1fr;
            row-gap: 40px;
            #grid-photo {
                img {
                    object-position: bottom;
                }
            }
        }
        .subgrid-container {
            grid-template-columns: 290px;
            justify-content: center;
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 14px;
            }
        }
    }
    .subheader {
        &__title {
            margin: 10px 0;
        }
        &__subtitle {
            &_promo {                
                line-height: 27px;
                &::before {                    
                    transform: translateX(-47%);
                }
            }
            &_about-me {
                padding-left: 7px;
            }
            &_experience {
                &::before {
                    transform: translateX(-111%);
                }
            }
            &_skills {
                &:before {
                    left: 38%;
                }
            }
            &_works {
                &:before {
                    left: 34%;
                }
            }

        }
    }
    .title {
        &_fz36 {
            font-size: 21px;
        }
        &_fz19 {
            font-size: 16px;
        }
        &_fz15 {
            font-size: 15px;
        }
        &_fz14 {
            line-height: 8px;
        }
    }
    .experience {   
        &__wrapper {
            padding-left: 10px;

            grid-template-columns: 270px;
            row-gap: 20px;
        }
        &__item {          
            &-location {
                line-height: 20px;  
            }
        }
    }
    .skills {
        padding-left: 0;
        padding-right: 0;
        &__rating {
            grid-template-columns: repeat(auto-fit, 270px);
        }
    }
    .contacts {
         &__wrapper {            
            padding-left: 10px;
        }
        &__form {
            grid-template-columns: 270px;
        }
        &__text {
            line-height: 20px;
            font-size: 13px;
        }
        &__policy {
            line-height: 18px;
            font-size: 11px;
            input {
                margin-right: 5px;
            }
        }
    }
}