
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        padding-left: 70px;
     }
    .sidepanel {
        left: 25px;
    }
    .about-me {
        padding-left: 70px;
        padding-top: 100px;
        .grid-container {
            grid-template: minmax(245px,auto) minmax(255px,auto) / 400px 480px;
            column-gap: 25px;
        }
        .subgrid-container {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 230px);
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 170px;
                column-gap: 14px;
            }
        }
    
    }
    .experience {   
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2, 370px);
            column-gap: 80px;
        }
    }
    .subheader {
        &__subtitle {
            &_about-me {
                padding-left: 8px;
            }
            &_experience {
                &:before {
                    transform: translateX(-75%);
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        padding-left: 10px;
    }
    .sidepanel {
        display: none;
    }
    .subheader {
        &__title {
            &_about-me {
                font-size: 27px;
                line-height: 45px;
            }
        }
        &__subtitle {
            &_about-me {
                padding-left: 3px;
            }
            &_promo {
                padding-left: 3px;
            }
            &_experience {
                &::before {
                    left: 46%;
                }
            }
        }
    }    
    .about-me {
        padding-left: 10px;
        .grid-container {
            grid-template-columns: 400px auto;
            column-gap: 25px;
            #grid-photo {
                img {
                    object-position: top;
                }
            }
        }
        .subgrid-container {
            grid-template-columns: 220px;
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 8px;
            }
        }
    }
    .experience {   
        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(2, 335px);
            column-gap: 35px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 300px;
            font-size: 28px;
            line-height: 39px;
        }
    }
    .subheader {
        &__title {
            margin: 15px 0;
        }
        &__subtitle {
            &_promo {
                font-size: 17px;
            }
            &_about-me {
                padding-left: 9px;
            }
            &_experience {
                &::before {
                    transform: translateX(-96%);
                }
            }
        }
    }
    .about-me {
        padding-top: 40px;
        .grid-container {
            grid-template: 450px auto auto / 1fr;
            row-gap: 30px;
            #grid-photo {
                grid-row: unset;
            }
        }
        .subgrid-container {
            grid-template-columns: repeat(2, 260px);
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 14px;
            }
        }
    }
    .experience {   
        padding-top: 40px;
        &__wrapper {
            padding-left: 65px;
            grid-template-columns: 460px;
            row-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        padding-top: 200px;
        &__title {
            width: 240px;
            margin-top: 10px;
            font-size: 25px;
            line-height: 35px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 20px;        
        }
        &__link {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }
    .about-me {
        padding-left: 0;
        .grid-container {
            grid-template: 250px auto auto / 1fr;
            row-gap: 40px;
        }
        .subgrid-container {
            grid-template-columns: 1fr;
            column-gap: 20px;
            .subgrid-elem {
                grid-template-columns: 40px 200px;
                column-gap: 14px;
            }
        }
    }
    .subheader {
        &__title {
            margin: 10px 0;
        }
        &__subtitle {
            &_promo {                
                line-height: 27px;
                &::before {                    
                    transform: translateX(-47%);
                }
            }
            &_about-me {
                padding-left: 7px;
            }
            &_experience {
                &::before {
                    transform: translateX(-111%);
                }
            }
        }
    }
    .title {
        &_fz36 {
            font-size: 24px;
        }
        &_fz19 {
            font-size: 16px;
        }
        &_fz15 {
            font-size: 15px;
        }
        &_fz14 {
            line-height: 8px;
        }
    }
    .experience {   
        &__wrapper {
            padding-left: 10px;
            padding-top: 40px;
            grid-template-columns: 270px;
            row-gap: 20px;
        }
        &__item {          
            &-location {
                line-height: 20px;  
            }
        }
    }
}